[submodule "Jade.tmbundle"]
	path = Jade.tmbundle
	url = https://github.com/miksago/jade-tmbundle.git
[submodule "Liquid.tmbundle"]
	path = Liquid.tmbundle
	url = https://github.com/andrew/liquid-tmbundle.git
